$('select[id$="razon_social_id"]').each( function() {
  $(this).append('<option value="<%=@razon_social.id%>"><%=@razon_social.record_name_to_show%></option>');
  if ($(this).parents('.modal.in').length>0) $(this).val('<%=@razon_social.id%>'); // Select option if modal is opened
});
form = $('#new_razon_social');
$(form)[0].reset();
$(form).parents('.modal').modal('hide');